# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: b162299d0c9c586ff890dae01503af4bf8fa5b308c2b10f5a0881425f2f6a4103089db4c882357fe4b2ec525c122aa554a3920963d4cf034bb014e7bb4e01a7b

test:
  secret_key_base: d15c912d3a6d6a58084e559279f7c28fc1a2301d4ecf0849dd419e3cac0b0d0faacfca0c1898c77dd70fea66190528501fbbee02f7ce4db36b19723332421da3

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
